body{
    background-color: #04D3C3;
}

.css-sandoval{
    background-color: rgba(148, 20, 207, 0.432);
    height: 160px;
    border: 5px solid pink;
    margin: 5px 10px 20px 0px;
    padding: 10px 10px 20px 10px;

}

p{
    font-family: "Festive, "'Times New Roman', Times, serif ";
}

p{
    font-weight: bold;
    font-size: 20px;
}

#someFamilyInformation{
    font-size: 24px;
    color: yellow;
    position: fixed;
    top: 300px;
    right: 300px;
    width: 250px;
    background-color: lightgray;
    border: 3px solid rgb(20, 112, 89);
}